@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

html {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    min-width: 800px;
    background: #ff00cc;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #16002b, #111); */
   /* Chrome 10-25, Safari 5.1-6 */

  background: linear-gradient(to right, #16002b, #111); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    margin:0px;
    height: 100%;
    overflow-x: hidden;
    
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  
  
  #trapezoid {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    border: 80px solid rgba(0,0,0,0);
    border-top: 0 solid;
    border-bottom: 100px solid rgba(1, 1, 1, .4);
    -webkit-border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0 0;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,0.7);
    -o-text-overflow: clip;
    text-overflow: clip;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    margin-top:-53px;
    width: 700px;
    position: relative;
    transition: all 0.7s ease;
    padding-left:7%;
  }
  
  #trapezoid a, .subnavbtn {
   -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
  
  .sub-home {
    display: none;
    position: absolute;
    right: 0;
    left: 0; 
  
    /* z-index: 5;    */
    transform: perspective(-10px);
  }
  
  #trapezoid:hover .sub-home {
    justify-content: center;
    margin-top: 53px;
  }
  
  .navbar {
    position: sticky;
    top: 0;
    display:flex;
    overflow:hidden;
    justify-content: center;
    height: 100px;
    z-index: 5;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: all 0.5s ease;
  }
  
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav .subnavbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 25px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: all 0.5s ease;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background:#8CA6DB;
    color: black;
    border-radius:5px;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;   
    transform: perspective(-10px);
  }
  
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none; 
  }
  
  .subnav-content a:hover {
    background:#B993D6;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: flex;
    justify-content: center;
  }
  
  
  /* section  {
    margin:0em 10em 10em 10em;
    padding:3em 10em 3em 10em;
  }
   */

/* #sectionOne {
  padding: 50px;
  margin: 50px;
} */

#sectionOne h1{
    color: #fff; 
    /* font-family: 'Helvetica Neue', sans-serif;  */
    font-size: 65px; 
    font-weight: bold; 
    /* letter-spacing: -1px;  */
    /* text-align: center; */
    padding: 0;
    margin: 0;
}
  
#sectionOne p {
    color: rgba(255, 255, 255, 0.8); 
    /* font-family: 'Calibri', sans-serif;  */
    font-size: 21px; 
    line-height: 1.5;
}
  
  hr {
    color: rgba(222, 219, 254, 0.6);
    border-color: rgba(222, 219, 254, 0.6);
  }

#about {
    position: relative;
    left: -150px;
    width: 500px;
    top: 100px;
}

c {
    color: rgba(222, 219, 254, 0.6);
}

#photo {
  /* margin-top: 100px; */
  /* margin-right: 50px; */
  margin-left: -275px;
  margin-top: 50px;
}

#sun {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  /* background-image: url("../images/parth-image-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  */
  height: 175px;
  width: 175px;
  animation: spin-right 10s linear infinite;
}

#sun2 {
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  background-image: url("../images/parth-image-2.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 175px;
  width: 175px;
  /* animation: spin-right 10s linear infinite; */
  
  box-shadow: 0px 0px 20px 2px rgb(109 87 133);
}

@keyframes spin-right {
  100% {transform: rotate(-360deg);}
  /* 100% {transform: translateZ(100px) rotateZ(60deg) rotateY(73deg);} */
}

#earth {
  background-color: #7e74899a;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: -50px;
  margin-left: -50px;

  /* */

  /* margin: 0; */
  /* padding: 0; */
  /* font: inherit;
  vertical-align: baseline;
  position: absolute; */
  /* width: 250px; */
  /* height: 250px; */
  /* border: solid 4px transparent;
  transform-style: preserve-3d;
  transform: translateZ(100px) rotateZ(60deg) rotateY(73deg); */
}

#sectionTwo {
  /* position: absolute; */
  margin-top: 25%;
  color: -webkit-linear-gradient(to right, #16002b, #111);  /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to right, #16002b, #111);
  height: 500px;
  background-color: #cfc4da;
  text-align: center;
  padding: 75px 250px 75px 250px;
}

h2 {
  font-size: 35px;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 50px;
  font-weight: lighter;
}

#webLogo {
  width: 200px;
}

#sectionTwo a {
  font-size: 25px;
  font-weight: bold;
}

#sectionThree {
  /* margin-top: 25%; */
  color: #fff;
  height: 700px;
  background-color: rgb(32 27 41);
  text-align: center;
  padding: 75px 250px 75px 250px;
}

#resume {
  display: flex;
  justify-content: space-around;

}

.cards {
  text-align: left;
    margin: 25px;
    /* border: #111;
    border-style: groove; */
    padding: 50px;
    /* max-height: 150px;
    max-width: 350px;
    height: 150px; */
    width: 350px;
    font-size: larger;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: center;
}
.cards a {
  font-size: 15px;
}

#resume hr {
  margin: 0px 15px 0px 15px
}

#technicalSkills {
  border-right-style:dashed;
  border-color: rgba(255, 255, 255, 0.2);
}

#sectionFour {
  background-color: rgb(32 27 41);
  height: 900px;
  /* background-color: rgba(55, 65, 72, 0.75); */
  /* filter:opacity(75%); */
  text-align: center;
  margin-top: -50px;
  display: flex;
  justify-content: center;
}

/* #sectionFour hr {
  position: absolute;
  z-index: 0;
} */

#glass {
  background: rgba(0, 0, 0, 0.5);
  opacity: 100px;
  margin: 50px;
  padding: 50px 50px 0px 50px;
  color: rgba(255, 255, 255, 0.804);
  width: 1200px;
  max-height: 570px;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  #glass {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.25);
    /* background-image: url("../images/waterDrops2.png"); */
    box-shadow: 5px 10px 8px 10px #111;
  }
}




.projects {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.circleCard {
  /* height: 100px; */
  background-color: rgb(50 6 110 / 90%);
  margin: 30px;
  padding: 10px;
  min-height: 100px;
  min-width: 100px;
  max-height: 100px;
  max-width: 100px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content:center;
  font-size: 14px;
  box-shadow: 5px 5px 10px #000000, -5px -5px 10px #8e8a8a;
  border-radius: 50%;
  z-index: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

@keyframes movingReflection {
  from {left: 900px;}
  to {left: 200px;}
}
#reflection {
  position: absolute;
  z-index: -1;
  min-height: 620px;
  min-width: 180px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 0;
  left: 900px;
  margin-top: -50px;
  transform: skew(-20deg);
  /* animation-name: movingReflection;
  animation-duration: 100s; */
  animation: movingReflection 90s infinite both;
}

#sectionFive {
  background-color: #f2e4ffd1;
  height: 300px;
  text-align: center;
  /* display: flex; */
  justify-content: center;
  align-items:center;
  padding: 100px 0px 0px 0px;
}

#sectionSix {
  height: 300px;
  display: grid;
	place-items: center;
  box-sizing: border-box;
}

a.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.804);
}
a.fill-div:hover {
  /* box-shadow: inset 100px 0 0 0 #54b3d6; */
  color: white;  
  text-shadow: 0px 0px 6px #fff;
}








/* mobile version changes */
@media only screen and (max-width: 600px) {
  body {
    margin-right: -450px;
    background-color: rgb(0, 0, 0);
    background-repeat:no-repeat ;
    background-size:217%;
  }
  #sectionThree .cards {
    /* padding: 70px; */
    /* font-size: 10px; */
    width: 250px;
  }
  #sectionOne {
    padding: 50px;
  }
  #about {
    width: 350px;
  }
  .projects {
    max-width: 250px;
  }
  @keyframes movingReflection {
    from {left: 450px;}
    to {left: 200px;}
  }
 #reflection {
  animation-duration: 50s;
 }
}